
/* Small devices (phones, 576px and up) */
@media (max-width: 575.999px) {
    /* #nav {
        background: red;
    }
    .nav-link{
        color: #fff;
    } */


    /* nav Start */
    #nav{
        padding-top: 10px;
    }
    #nav .logo {
        width: 100px;
    }
    ul.navbar-nav {
        margin-top: 15px;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* nav end */

    /* Banner Section Start */
    #banner {
        padding-top: 120px;
    }
    #banner{
        text-align: center;
    }
    #banner .illustration1 {
        display: none;
    }
    #banner h1 {
        width: 69%;
        font-size: 31px;
        margin: 0 auto;
    }
    #banner p {
        width: 69%;
        font-size: 17px;
        margin: 0 auto;
    }
    #banner .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* Banner Section End */
    
    /* About Section Start */
    #about{
        text-align: center;
        padding: 80px 0;
    }
    #about .gridContainer {
        display: none;
    }
    #about .sectionHead {
        font-size: 25px;
    }
    #about .sectionTitle {
        width: inherit;
        font-size: 34px;
    }
    #about p {
        width: inherit;
        margin: 24px auto;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* About Section End */
    
    /* Recommendations Section Start */
    .row > * {
        padding-right: unset;
    }
    #recommendations{
        /* text-align: center; */
        padding: 40px 0 0 0;
        text-align: center;
    }
    #about .gridContainer {
        display: none;
    }
    #recommendations .sectionHead {
        font-size: 25px;
        text-align: center;
        display: block;
    }
    #recommendations .sectionTitle {
        width: unset;
        font-size: 35px;
        text-align: center;
        padding-bottom: 30px;
    }
    #about p {
        width: inherit;
        margin: 24px auto;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* Recommendations Section End */
    
    /* Service Section Start */
    .row > * {
        padding-right: unset;
    }
    #services{
        text-align: center;
        padding: 40px 0 0 0;
    }
    #services .sectionHead {
        font-size: 25px;
        text-align: center;
        display: block;
    }
    #services .sectionTitle {
        width: unset;
        font-size: 35px;
        text-align: center;
        padding-bottom: 30px;
    }
    #about p {
        width: inherit;
        margin: 24px auto;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* Service Section End */

    /* Teams Section End */
    #teams {
        margin: 53px 0 100px 0;

    }
    #teams .illustration1 {
        display: none;
    }
    #teams .sectionHead {
        font-size: 25px;
        text-align: center;
        display: block;
    }
    #teams .sectionTitle {
        width: unset;
        font-size: 35px;
        text-align: center;
        padding-bottom: 30px;
    }
    /* Teams Section End */

    /* download Section End */
    #download{
        text-align: center;
        margin-top: unset;
    }
    #download .illustrator1 {
        display: none;
    }
    .sectionTitle {
        font-size: 30px;
    }
    #download p{
        font-size: 20px;
    }
    #download .commonBtn {
        font-size: 18px;
        margin-left: inherit;
        padding: 10px 20px;
    }
    /* download Section End */

    /* Footer Section Start */
    #footer {
        text-align: center;
    }
    #footer p {
        width: 369px;
        margin: 10px auto;
    }
    #footer ul li:first-child {
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .footerBottom {
        border-top: 1px solid #363636;
        margin-top: 50px;
    }
    /* Footer Section End */
}


/* (sm) Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.999px) {
    /* #nav {
        background: gold;
    }
    .nav-link{
        color: #000;
    } */



    /* NAV Start */
    #nav{
        padding-top: 10px;
    }
    #nav .logo {
        width: 130px;
    }
    ul.navbar-nav {
        margin-top: 15px;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* NAV End */

    /* Banner Section Start */
    #banner {
        padding-top: 100px;
        text-align: center;
    }
    #banner .illustration1 {
        display: none;
    }
    #banner h1 {
        width: inherit;
        font-size: 36px;
    }
    #banner p {
        width: inherit;
    }
    #banner .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* Banner Section End */
    
    /* About Section Start */
    #about {
        padding: 85px 0 10px;
        text-align: center;
    }
    #about .sectionTitle {
        font-size: 36px;
    }
    #about .sectionHead {
        font-size: 25px;
    }
    #about .sectionTitle {
        width: inherit;
        font-size: 43px;
    }
    #about p {
        width: inherit;
        margin: 24px auto;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 10px 20px;
        font-size: 18px;
    }
    /* About Section End */

    
    /* Recommendations Section Start */
    .row > * {
        padding-right: unset;
    }
    #recommendations {
        text-align: center;
        padding: 40px 0 85px;
    }
    #about .gridContainer {
        display: none;
    }
    #recommendations .sectionHead {
        font-size: 37px;
        text-align: center;
        display: block;
    }
    #recommendations .sectionTitle {
        width: unset;
        font-size: 54px;
        text-align: center;
        padding-bottom: 30px;
    }
    /* Recommendations Section End */
    
    /* Services Section Start */
    .row > * {
        padding-right: unset;
    }
    #services{
        text-align: center;
        padding: 40px 0 0 0;
    }
    #services .sectionHead {
        font-size: 35px;
        text-align: center;
        display: block;
    }
    #services .sectionTitle {
        width: unset;
        font-size: 45px;
        text-align: center;
        padding-bottom: 30px;
    }
    /* Services Section End */

    /* Teams Section Start */
    #teams{
        text-align: center;
        padding: 40px 0 0 0;
    }
    #teams .illustration1 {
        display: none;
    }
    #teams .sectionHead {
        font-size: 35px;
        text-align: center;
        display: block;
    }
    #teams .sectionTitle {
        width: unset;
        font-size: 45px;
        text-align: center;
        padding-bottom: 30px;
    }
    /* Teams Section End */
    /* download Section End */
    #download{
        text-align: center;
        margin-top: unset;
    }
    #download .illustrator1 {
        display: none;
    }
    .sectionTitle {
        font-size: 30px;
        padding: 0 70px;
    }
    #download p{
        font-size: 20px;
        padding: 0 70px;
    }
    #download .commonBtn {
        font-size: 18px;
        margin-left: inherit;
        padding: 10px 20px;
    }
    /* download Section End */
    /* Footer Section Start */
    #footer {
        text-align: center;
    }
    #footer p {
        width: 369px;
        margin: 10px auto;
    }
    #footer ul li:first-child {
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .footerBottom {
        border-top: 1px solid #363636;
        margin-top: 50px;
    }
    /* Footer Section End */
}



/* (md) Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.999px) {
    /* #nav {
        background: #D2691E;
        padding-top: 15px;
    }
    .nav-link{
        color: #ADFF2F;
    } */
    


    /* banner Section Start */
    #banner {
        padding-top: 160px;
    }
    #banner .illustration1 {
        width: 300px;
        height: 300px;
        left: calc(50% + 47px);
        top: 156px;
    }
    #banner h1 {
        width: 360px;
        font-size: 39px;
    }
    #banner p {
        width: 328px;
        font-size: 18px;
        margin-top: 30px;
    }
    #banner .commonBtn {
        padding: 13px 30px;
    }
    /* banner Section End */
    
    /* About Section Start */
    #about{
        padding-top: 90px;
        padding-bottom: 80px;
    }
    #about .sectionHead {
        /* margin-left: inherit; */
        font-size: 35px;
    }
    #about .sectionTitle {
        width: inherit;
        margin-left: inherit;
        font-size: 45px;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 13px 30px;
    }
    #about p {
        width: inherit;
        margin: 12px auto;
        margin-left: inherit;
    }
    /* About Section End */
    
    /* Recommendations Section Start */
    .row > * {
        padding-right: unset;
    }
    #recommendations {
        text-align: center;
        padding: 40px 0 50px 0;
    }
    #recommendations .sectionHead {
        font-size: 37px;
        text-align: center;
        display: block;
    }
    #recommendations .sectionTitle {
        width: unset;
        font-size: 54px;
        text-align: center;
    }
    /* Recommendations Section End */

    /* Service Section Start */
    #services {
        padding: 50px 0;
    }
    /* Service Section End */

    /* Teams Section Start */
    #teams {
        margin-bottom: 70px;
        text-align: center;
    }
    #teams .sectionHead {
        font-size: 37px;
        display: block;
    }
    #teams .sectionTitle {
        width: unset;
        font-size: 45px;
    }
    #teams .card {
        width: unset;
    }
    #teams .card > .card-head {
        height: 210px;
    }
    /* Teams Section End */

    /* download Section End */
    #download{
        text-align: center;
        margin-top: unset;
    }
    #download .illustrator1 {
        display: none;
    }
    .sectionTitle {
        font-size: 30px;
        /* padding: 0 70px; */
    }
    #download p{
        font-size: 20px;
        /* padding: 0 70px; */
    }
    #download .commonBtn {
        font-size: 18px;
        margin-left: inherit;
        /* padding: 10px 20px; */
    }
    /* download Section End */
    /* Footer Section Start */
    #footer ul li:first-child {
        letter-spacing: -0.8px;
    }
    .footerBottom {
        margin-top: 50px;
    }
    /* Footer Section End */
}



/* (lg) Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.999px) {
    /* #nav {
        background: skyblue;
    }
    .nav-link{
        color: #F30089;
    } */



    /* banner Section Start */
    #banner {
        padding-top: 160px;
    }
    #banner .illustration1 {
        width: 360px;
        height: 360px;
        left: calc(50% + 79px);
        top: 180px;
    }
    #banner h1 {
        width: 447px;
        font-size: 55px;
    }
    #banner .commonBtn {
        margin-left: inherit;
        padding: 13px 30px;
    }
    /* banner Section End */

    /* About Section Start */
    #about{
        padding-top: 90px;
    }
    #about .sectionHead {
        margin-left: inherit;
        font-size: 35px;
    }
    #about .sectionTitle {
        width: unset;
        font-size: 45px;
    }
    #about .gridContainer {
        width: 93%;
        height: 450px;
        float: unset;
    }
    #about .commonBtn {
        margin-left: inherit;
        padding: 13px 30px;
    }
    /* About Section End */
    /* service Section Start */
    #services .card {
        width: 150px;
    }
    /* service Section End */
    
    /* Teams Section Start */
    #teams .card {
        width: unset;
    }
    #teams .card > .card-head {
        height: 250px;
    }
    /* Teams Section End */

    /* Download Section Start */
    #download .illustrator1 {
        left: calc(50% - 466px);
    }
    /* Download Section End */
}



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.999px) {
    /* #nav {
        background: greenyellow;
    }
    .nav-link{
        color: #0227F1;
    } */



    /* NAV Section Start */
    #nav{
        padding-top: 40px;
    }
    /* NAV Section End */
    



    /* Banner Section Start */
    
    /* Banner Section End */
}














/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* #nav {
        background: blueviolet;
    }
    .nav-link{
        color: #fff;
    }     */
}